#desktop {
    height: 100%;
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    ;
}

.window__skills {
    display: inline;
    display: initial;
}

.window__titlebar {
    position: top;
    background: #2c3e50;
    color: white;
    padding: 10px 10px 10px 15px;
    margin: 0;
    font-weight: 400;
    font-size: 10;
    display: flex;
    align-items: center;
    height: 5vh;
}

.window__close {
    text-decoration: none;
    margin-left: auto;
    width: 26px;
    height: 26px;
    background: #ed4c5a;
}

.window__close:hover {
    background-color: #f82626;
}

.window__close:active {
    background-color: #ee3b3b;
    color: #808080
}

.window__content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
}

.window__works {
    height: 100vh vh;
    overflow: hidden;
}

div {
    display: block;
}

.col {
    position: relative;
    padding: 15px;
}

.col:nth-child(2n) {
    background: #e9f1f5;
    height: 100%;
}

#details {
    background: #e9f1f5;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}

#details.active,
#works.active {
    display: block;
    width: 100%;
    height: 100%;
}

#details>.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    text-align: center;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 150%;
    color: #2c3e50;
}

#details,
#works {
    display: none;
    overflow: auto;
    text-align: justify;
    background: none;
    box-sizing: border-box;
}

.group {
    padding: 0 2%;
    margin: 4% 0;
    color: rgb(5, 5, 5);
    font-size: 50px;
}

h3 {
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    color: #2c3e50;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.list>li {
    width: 20%;
    height: auto;
    margin: 2%;
    cursor: pointer;
}

.list img {
    max-width: 45%;
    height: auto;
}

user agent stylesheet li {
    display: list-item;
    text-align: -webkit-match-parent;
}

user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.folder {
    height: auto;
    position: relative;
    cursor: pointer;
    perspective: 800px;
    transition: opacity 1s, transform 1s;
}

.folder__front {
    position: relative;
    transition: transform .5s;
    transform-origin: bottom;
    z-index: 2;
}

.folder__front>svg {
    fill: #b9dbec;
}

.folder__back>svg {
    fill: #8cbad1;
}

.folder__file>svg {
    fill: #fff;
}

user agent stylesheet svg:not(:root) {
    overflow: hidden;
}

.folder>div:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.folder__front>img {
    position: absolute;
    top: 0;
    left: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    margin: 0 0 20px;
    font-size: medium;
    font-weight: 400;
    text-align: center;
}

.title>big {
    font-size: 200%;
}

.title>* {
    display: block;
}

.title>span {
    opacity: .5;
}

.float--right {
    float: right;
}

.paragraph {
    margin: 15px 0;
}

i {
    font-style: italic;
}

.collapse>svg {
    cursor: pointer;
}

svg {
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0;
    height: 1em;
    width: 1em;
}

svg:not(:root) {
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

big {
    font-size: larger;
}